body{
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

#head-section{
    background-image: -webkit-linear-gradient(120deg, #744A7D 0%, #C5373F 100%);
    color: #fff;
}

.title{
    padding: 3vh;
    text-align: left;
}

#houni{
    height: 50vh;
}

.titre{
    padding: 20vh 0 5vh;
}
.inputss{
  font-weight: 300;
  color: #000;
  margin: 0 auto !important;
  font-size: 10px;
}

.btn{
  background-color: #fff;
  border: 1px solid #C5373F;
  color: #C5373F;
}

.btn:hover{
  background-image: -webkit-linear-gradient(120deg, #744A7D 0%, #C5373F 100%);
  color: #fff;
}


/*===============================================textarea=====================================================*/


/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 45px;
}

textarea {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}

textarea:focus {
  outline: none;
}

/* LABEL ======================================= */
.alabel {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
textarea:focus~.alabel,
textarea:valid~.alabel {
  top: -20px;
  font-size: 14px;
  color: #C5373F;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}

.bar:before,
.bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #C5373F;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
textarea:focus~.bar:before,
textarea:focus~.bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
textarea:focus~.highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* oui ou non */
.lul,
.lli {
  list-style: none;
  position: relative;
  margin-left: 0;
  padding-left: 0.5rem;
}

.lli {
  line-height: 1.75rem;
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
}

.llabel {
  background-image: linear-gradient(to right, #000 50%, #C5373F 50%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: relative;
  overflow: hidden;
  background-position: left;
  font-size: 1.5rem;
  background-size: 200%;
  transition: all 0.3s;
  transition-delay: 0.25s;
  cursor: pointer;
  padding-left: 2.25rem;
  padding-right: 1rem;
  border-radius: 1rem;
}

.llabel::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 1rem;
  top: 50%;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid black;
  transform: translate(-50%, -50%);
}

.llabel::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 1rem;
  top: 50%;
  width: 0rem;
  height: 0rem;
  border-radius: 50%;
  background: #C5373F;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  transition: all 0.25s;
  transition-delay: 0s;
}

.llabel:hover::before {
  background: rgba(0, 0, 0, 0.15);
}

@keyframes boom {
  0% {
    box-shadow: 0 0 0 #fff;
    border-color: #000;
  }

  50% {
    box-shadow: 0 0 1rem #25a;
    border-color: #25a;
  }

  100% {
    box-shadow: 0 0 3rem #fff;
    border-color: #000;
  }
}

.linput {
  position: absolute;
  top: -1000px;
}

.linput:checked+.llabel::before {
  animation: boom 0.3s;
  animation-delay: 0.25s;
  background: rgba(0, 0, 0, 0);
}

.linput:checked+.llabel {
  background-position: right;
  transition-delay: 0s;
}

.linput:checked+.llabel::after {
  width: 0.5rem;
  height: 0.5rem;
  transition-delay: 0.25s;
}





.feedback {
  --normal: #ECEAF3;
  --normal-shadow: #D9D8E3;
  --normal-mouth: #9795A4;
  --normal-eye: #595861;
  --active: #F8DA69;
  --active-shadow: #F4B555;
  --active-mouth: #F05136;
  --active-eye: #313036;
  --active-tear: #76b5e7;
  --active-shadow-angry: #e94f1d;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
}

.feedback li  {
  position: relative;
  border-radius: 50%;
  background: var(--sb, var(--normal));
  box-shadow: inset 3px -3px 4px var(--sh, var(--normal-shadow));
  -webkit-transition: background .4s, box-shadow .4s, -webkit-transform .3s;
  transition: background .4s, box-shadow .4s, -webkit-transform .3s;
  transition: background .4s, box-shadow .4s, transform .3s;
  transition: background .4s, box-shadow .4s, transform .3s, -webkit-transform .3s;
  -webkit-tap-highlight-color: transparent;
}

.feedback li:not(:last-child) {
  margin-right: 20px;
}

.feedback li div {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: perspective(240px) translateZ(4px);
  transform: perspective(240px) translateZ(4px);
}

.feedback li div svg,
.feedback li div:before,
.feedback li div:after {
  display: block;
  position: absolute;
  left: var(--l, 9px);
  top: var(--t, 13px);
  width: var(--w, 8px);
  height: var(--h, 2px);
  -webkit-transform: rotate(var(--r, 0deg)) scale(var(--sc, 1)) translateZ(0);
  transform: rotate(var(--r, 0deg)) scale(var(--sc, 1)) translateZ(0);
}

.feedback li div svg {
  fill: none;
  stroke: var(--s);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  -webkit-transition: stroke .4s;
  transition: stroke .4s;
}

.feedback li div svg.eye {
  --s: var(--e, var(--normal-eye));
  --t: 17px;
  --w: 7px;
  --h: 4px;
}

.feedback li div svg.eye.right {
  --l: 23px;
}

.feedback li div svg.mouth {
  --s: var(--m, var(--normal-mouth));
  --l: 11px;
  --t: 23px;
  --w: 18px;
  --h: 7px;
}

.feedback li div:before,
.feedback li div:after {
  content: '';
  z-index: var(--zi, 1);
  border-radius: var(--br, 1px);
  background: var(--b, var(--e, var(--normal-eye)));
  -webkit-transition: background .4s;
  transition: background .4s;
}

.feedback li.angry {
  --step-1-rx: -24deg;
  --step-1-ry: 20deg;
  --step-2-rx: -24deg;
  --step-2-ry: -20deg;
}

.feedback li.angry div:before {
  --r: 20deg;
}

.feedback li.angry div:after {
  --l: 23px;
  --r: -20deg;
}

.feedback li.angry div svg.eye {
  stroke-dasharray: 4.55;
  stroke-dashoffset: 8.15;
}

.feedback li.angry.active {
  -webkit-animation: angry 1s linear;
  animation: angry 1s linear;
}

.feedback li.angry.active div:before {
  --middle-y: -2px;
  --middle-r: 22deg;
  -webkit-animation: toggle .8s linear forwards;
  animation: toggle .8s linear forwards;
}

.feedback li.angry.active div:after {
  --middle-y: 1px;
  --middle-r: -18deg;
  -webkit-animation: toggle .8s linear forwards;
  animation: toggle .8s linear forwards;
}

.feedback li.sad {
  --step-1-rx: 20deg;
  --step-1-ry: -12deg;
  --step-2-rx: -18deg;
  --step-2-ry: 14deg;
}

.feedback li.sad div:before,
.feedback li.sad div:after {
  --b: var(--active-tear);
  --sc: 0;
  --w: 5px;
  --h: 5px;
  --t: 15px;
  --br: 50%;
}

.feedback li.sad div:after {
  --l: 25px;
}

.feedback li.sad div svg.eye {
  --t: 16px;
}

.feedback li.sad div svg.mouth {
  --t: 24px;
  stroke-dasharray: 9.5;
  stroke-dashoffset: 33.25;
}

.feedback li.sad.active div:before,
.feedback li.sad.active div:after {
  -webkit-animation: tear .6s linear forwards;
  animation: tear .6s linear forwards;
}

.feedback li.ok {
  --step-1-rx: 4deg;
  --step-1-ry: -22deg;
  --step-1-rz: 6deg;
  --step-2-rx: 4deg;
  --step-2-ry: 22deg;
  --step-2-rz: -6deg;
}

.feedback li.ok div:before {
  --l: 12px;
  --t: 17px;
  --h: 4px;
  --w: 4px;
  --br: 50%;
  box-shadow: 12px 0 0 var(--e, var(--normal-eye));
}

.feedback li.ok div:after {
  --l: 13px;
  --t: 26px;
  --w: 14px;
  --h: 2px;
  --br: 1px;
  --b: var(--m, var(--normal-mouth));
}

.feedback li.ok.active div:before {
  --middle-s-y: .35;
  -webkit-animation: toggle .2s linear forwards;
  animation: toggle .2s linear forwards;
}

.feedback li.ok.active div:after {
  --middle-s-x: .5;
  -webkit-animation: toggle .7s linear forwards;
  animation: toggle .7s linear forwards;
}

.feedback li.good {
  --step-1-rx: -14deg;
  --step-1-rz: 10deg;
  --step-2-rx: 10deg;
  --step-2-rz: -8deg;
}

.feedback li.good div:before {
  --b: var(--m, var(--normal-mouth));
  --w: 5px;
  --h: 5px;
  --br: 50%;
  --t: 22px;
  --zi: 0;
  opacity: .5;
  box-shadow: 16px 0 0 var(--b);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.feedback li.good div:after {
  --sc: 0;
}

.feedback li.good div svg.eye {
  --t: 15px;
  --sc: -1;
  stroke-dasharray: 4.55;
  stroke-dashoffset: 8.15;
}

.feedback li.good div svg.mouth {
  --t: 22px;
  --sc: -1;
  stroke-dasharray: 13.3;
  stroke-dashoffset: 23.75;
}

.feedback li.good.active div svg.mouth {
  --middle-y: 1px;
  --middle-s: -1;
  -webkit-animation: toggle .8s linear forwards;
  animation: toggle .8s linear forwards;
}

.feedback li.happy div {
  --step-1-rx: 18deg;
  --step-1-ry: 24deg;
  --step-2-rx: 18deg;
  --step-2-ry: -24deg;
}

.feedback li.happy div:before {
  --sc: 0;
}

.feedback li.happy div:after {
  --b: var(--m, var(--normal-mouth));
  --l: 11px;
  --t: 23px;
  --w: 18px;
  --h: 8px;
  --br: 0 0 8px 8px;
}

.feedback li.happy div svg.eye {
  --t: 14px;
  --sc: -1;
}

.feedback li.happy.active div:after {
  --middle-s-x: .95;
  --middle-s-y: .75;
  -webkit-animation: toggle .8s linear forwards;
  animation: toggle .8s linear forwards;
}

.feedback li:not(.active) {
  cursor: pointer;
}

.feedback li:not(.active):active {
  -webkit-transform: scale(0.925);
  transform: scale(0.925);
}

.feedback li.active {
  --sb: var(--active);
  --sh: var(--active-shadow);
  --m: var(--active-mouth);
  --e: var(--active-eye);
}

.feedback li.active div {
  -webkit-animation: shake .8s linear forwards;
  animation: shake .8s linear forwards;
}

@-webkit-keyframes shake {
  30% {
      -webkit-transform: perspective(240px) rotateX(var(--step-1-rx, 0deg)) rotateY(var(--step-1-ry, 0deg)) rotateZ(var(--step-1-rz, 0deg)) translateZ(10px);
      transform: perspective(240px) rotateX(var(--step-1-rx, 0deg)) rotateY(var(--step-1-ry, 0deg)) rotateZ(var(--step-1-rz, 0deg)) translateZ(10px);
  }

  60% {
      -webkit-transform: perspective(240px) rotateX(var(--step-2-rx, 0deg)) rotateY(var(--step-2-ry, 0deg)) rotateZ(var(--step-2-rz, 0deg)) translateZ(10px);
      transform: perspective(240px) rotateX(var(--step-2-rx, 0deg)) rotateY(var(--step-2-ry, 0deg)) rotateZ(var(--step-2-rz, 0deg)) translateZ(10px);
  }

  100% {
      -webkit-transform: perspective(240px) translateZ(4px);
      transform: perspective(240px) translateZ(4px);
  }
}

@keyframes shake {
  30% {
      -webkit-transform: perspective(240px) rotateX(var(--step-1-rx, 0deg)) rotateY(var(--step-1-ry, 0deg)) rotateZ(var(--step-1-rz, 0deg)) translateZ(10px);
      transform: perspective(240px) rotateX(var(--step-1-rx, 0deg)) rotateY(var(--step-1-ry, 0deg)) rotateZ(var(--step-1-rz, 0deg)) translateZ(10px);
  }

  60% {
      -webkit-transform: perspective(240px) rotateX(var(--step-2-rx, 0deg)) rotateY(var(--step-2-ry, 0deg)) rotateZ(var(--step-2-rz, 0deg)) translateZ(10px);
      transform: perspective(240px) rotateX(var(--step-2-rx, 0deg)) rotateY(var(--step-2-ry, 0deg)) rotateZ(var(--step-2-rz, 0deg)) translateZ(10px);
  }

  100% {
      -webkit-transform: perspective(240px) translateZ(4px);
      transform: perspective(240px) translateZ(4px);
  }
}

@-webkit-keyframes tear {
  0% {
      opacity: 0;
      -webkit-transform: translateY(-2px) scale(0) translateZ(0);
      transform: translateY(-2px) scale(0) translateZ(0);
  }

  50% {
      -webkit-transform: translateY(12px) scale(0.6, 1.2) translateZ(0);
      transform: translateY(12px) scale(0.6, 1.2) translateZ(0);
  }

  20%,
  80% {
      opacity: 1;
  }

  100% {
      opacity: 0;
      -webkit-transform: translateY(24px) translateX(4px) rotateZ(-30deg) scale(0.7, 1.1) translateZ(0);
      transform: translateY(24px) translateX(4px) rotateZ(-30deg) scale(0.7, 1.1) translateZ(0);
  }
}

@keyframes tear {
  0% {
      opacity: 0;
      -webkit-transform: translateY(-2px) scale(0) translateZ(0);
      transform: translateY(-2px) scale(0) translateZ(0);
  }

  50% {
      -webkit-transform: translateY(12px) scale(0.6, 1.2) translateZ(0);
      transform: translateY(12px) scale(0.6, 1.2) translateZ(0);
  }

  20%,
  80% {
      opacity: 1;
  }

  100% {
      opacity: 0;
      -webkit-transform: translateY(24px) translateX(4px) rotateZ(-30deg) scale(0.7, 1.1) translateZ(0);
      transform: translateY(24px) translateX(4px) rotateZ(-30deg) scale(0.7, 1.1) translateZ(0);
  }
}

@-webkit-keyframes toggle {
  50% {
      -webkit-transform: translateY(var(--middle-y, 0)) scale(var(--middle-s-x, var(--middle-s, 1)), var(--middle-s-y, var(--middle-s, 1))) rotate(var(--middle-r, 0deg));
      transform: translateY(var(--middle-y, 0)) scale(var(--middle-s-x, var(--middle-s, 1)), var(--middle-s-y, var(--middle-s, 1))) rotate(var(--middle-r, 0deg));
  }
}

@keyframes toggle {
  50% {
      -webkit-transform: translateY(var(--middle-y, 0)) scale(var(--middle-s-x, var(--middle-s, 1)), var(--middle-s-y, var(--middle-s, 1))) rotate(var(--middle-r, 0deg));
      transform: translateY(var(--middle-y, 0)) scale(var(--middle-s-x, var(--middle-s, 1)), var(--middle-s-y, var(--middle-s, 1))) rotate(var(--middle-r, 0deg));
  }
}

@-webkit-keyframes angry {
  40% {
      background: var(--active);
  }

  45% {
      box-shadow: inset 3px -3px 4px var(--active-shadow), inset 0 8px 10px var(--active-shadow-angry);
  }
}

@keyframes angry {
  40% {
      background: var(--active);
  }

  45% {
      box-shadow: inset 3px -3px 4px var(--active-shadow), inset 0 8px 10px var(--active-shadow-angry);
  }
}

*:before,
*:after {
  box-sizing: inherit;
}

.ena {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: row;
}






.feedbackk {
  --normal: #ECEAF3;
  --normal-shadow: #D9D8E3;
  --normal-mouth: #9795A4;
  --normal-eye: #595861;
  --active: #F8DA69;
  --active-shadow: #F4B555;
  --active-mouth: #F05136;
  --active-eye: #313036;
  --active-tear: #76b5e7;
  --active-shadow-angry: #e94f1d;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
}

.feedbackk li  {
  position: relative;
  border-radius: 50%;
  background: var(--sb, var(--normal));
  box-shadow: inset 3px -3px 4px var(--sh, var(--normal-shadow));
  -webkit-transition: background .4s, box-shadow .4s, -webkit-transform .3s;
  transition: background .4s, box-shadow .4s, -webkit-transform .3s;
  transition: background .4s, box-shadow .4s, transform .3s;
  transition: background .4s, box-shadow .4s, transform .3s, -webkit-transform .3s;
  -webkit-tap-highlight-color: transparent;
}

.feedbackk li:not(:last-child) {
  margin-right: 20px;
}

.feedbackk li div {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: perspective(240px) translateZ(4px);
  transform: perspective(240px) translateZ(4px);
}

.feedbackk li div svg,
.feedbackk li div:before,
.feedbackk li div:after {
  display: block;
  position: absolute;
  left: var(--l, 9px);
  top: var(--t, 13px);
  width: var(--w, 8px);
  height: var(--h, 2px);
  -webkit-transform: rotate(var(--r, 0deg)) scale(var(--sc, 1)) translateZ(0);
  transform: rotate(var(--r, 0deg)) scale(var(--sc, 1)) translateZ(0);
}

.feedbackk li div svg {
  fill: none;
  stroke: var(--s);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  -webkit-transition: stroke .4s;
  transition: stroke .4s;
}

.feedbackk li div svg.eye {
  --s: var(--e, var(--normal-eye));
  --t: 17px;
  --w: 7px;
  --h: 4px;
}

.feedbackk li div svg.eye.right {
  --l: 23px;
}

.feedbackk li div svg.mouth {
  --s: var(--m, var(--normal-mouth));
  --l: 11px;
  --t: 23px;
  --w: 18px;
  --h: 7px;
}

.feedbackk li div:before,
.feedbackk li div:after {
  content: '';
  z-index: var(--zi, 1);
  border-radius: var(--br, 1px);
  background: var(--b, var(--e, var(--normal-eye)));
  -webkit-transition: background .4s;
  transition: background .4s;
}

.feedbackk li.angry {
  --step-1-rx: -24deg;
  --step-1-ry: 20deg;
  --step-2-rx: -24deg;
  --step-2-ry: -20deg;
}

.feedbackk li.angry div:before {
  --r: 20deg;
}

.feedbackk li.angry div:after {
  --l: 23px;
  --r: -20deg;
}

.feedbackk li.angry div svg.eye {
  stroke-dasharray: 4.55;
  stroke-dashoffset: 8.15;
}

.feedbackk li.angry.active {
  -webkit-animation: angry 1s linear;
  animation: angry 1s linear;
}

.feedbackk li.angry.active div:before {
  --middle-y: -2px;
  --middle-r: 22deg;
  -webkit-animation: toggle .8s linear forwards;
  animation: toggle .8s linear forwards;
}

.feedbackk li.angry.active div:after {
  --middle-y: 1px;
  --middle-r: -18deg;
  -webkit-animation: toggle .8s linear forwards;
  animation: toggle .8s linear forwards;
}

.feedbackk li.sad {
  --step-1-rx: 20deg;
  --step-1-ry: -12deg;
  --step-2-rx: -18deg;
  --step-2-ry: 14deg;
}

.feedbackk li.sad div:before,
.feedbackk li.sad div:after {
  --b: var(--active-tear);
  --sc: 0;
  --w: 5px;
  --h: 5px;
  --t: 15px;
  --br: 50%;
}

.feedbackk li.sad div:after {
  --l: 25px;
}

.feedbackk li.sad div svg.eye {
  --t: 16px;
}

.feedbackk li.sad div svg.mouth {
  --t: 24px;
  stroke-dasharray: 9.5;
  stroke-dashoffset: 33.25;
}

.feedbackk li.sad.active div:before,
.feedbackk li.sad.active div:after {
  -webkit-animation: tear .6s linear forwards;
  animation: tear .6s linear forwards;
}

.feedbackk li.ok {
  --step-1-rx: 4deg;
  --step-1-ry: -22deg;
  --step-1-rz: 6deg;
  --step-2-rx: 4deg;
  --step-2-ry: 22deg;
  --step-2-rz: -6deg;
}

.feedbackk li.ok div:before {
  --l: 12px;
  --t: 17px;
  --h: 4px;
  --w: 4px;
  --br: 50%;
  box-shadow: 12px 0 0 var(--e, var(--normal-eye));
}

.feedbackk li.ok div:after {
  --l: 13px;
  --t: 26px;
  --w: 14px;
  --h: 2px;
  --br: 1px;
  --b: var(--m, var(--normal-mouth));
}

.feedbackk li.ok.active div:before {
  --middle-s-y: .35;
  -webkit-animation: toggle .2s linear forwards;
  animation: toggle .2s linear forwards;
}

.feedbackk li.ok.active div:after {
  --middle-s-x: .5;
  -webkit-animation: toggle .7s linear forwards;
  animation: toggle .7s linear forwards;
}

.feedbackk li.good {
  --step-1-rx: -14deg;
  --step-1-rz: 10deg;
  --step-2-rx: 10deg;
  --step-2-rz: -8deg;
}

.feedbackk li.good div:before {
  --b: var(--m, var(--normal-mouth));
  --w: 5px;
  --h: 5px;
  --br: 50%;
  --t: 22px;
  --zi: 0;
  opacity: .5;
  box-shadow: 16px 0 0 var(--b);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.feedbackk li.good div:after {
  --sc: 0;
}

.feedbackk li.good div svg.eye {
  --t: 15px;
  --sc: -1;
  stroke-dasharray: 4.55;
  stroke-dashoffset: 8.15;
}

.feedbackk li.good div svg.mouth {
  --t: 22px;
  --sc: -1;
  stroke-dasharray: 13.3;
  stroke-dashoffset: 23.75;
}

.feedbackk li.good.active div svg.mouth {
  --middle-y: 1px;
  --middle-s: -1;
  -webkit-animation: toggle .8s linear forwards;
  animation: toggle .8s linear forwards;
}

.feedbackk li.happy div {
  --step-1-rx: 18deg;
  --step-1-ry: 24deg;
  --step-2-rx: 18deg;
  --step-2-ry: -24deg;
}

.feedbackk li.happy div:before {
  --sc: 0;
}

.feedbackk li.happy div:after {
  --b: var(--m, var(--normal-mouth));
  --l: 11px;
  --t: 23px;
  --w: 18px;
  --h: 8px;
  --br: 0 0 8px 8px;
}

.feedbackk li.happy div svg.eye {
  --t: 14px;
  --sc: -1;
}

.feedbackk li.happy.active div:after {
  --middle-s-x: .95;
  --middle-s-y: .75;
  -webkit-animation: toggle .8s linear forwards;
  animation: toggle .8s linear forwards;
}

.feedbackk li:not(.active) {
  cursor: pointer;
}

.feedbackk li:not(.active):active {
  -webkit-transform: scale(0.925);
  transform: scale(0.925);
}

.feedbackk li.active {
  --sb: var(--active);
  --sh: var(--active-shadow);
  --m: var(--active-mouth);
  --e: var(--active-eye);
}

.feedbackk li.active div {
  -webkit-animation: shake .8s linear forwards;
  animation: shake .8s linear forwards;
}



.feedbackkk {
  --normal: #ECEAF3;
  --normal-shadow: #D9D8E3;
  --normal-mouth: #9795A4;
  --normal-eye: #595861;
  --active: #F8DA69;
  --active-shadow: #F4B555;
  --active-mouth: #F05136;
  --active-eye: #313036;
  --active-tear: #76b5e7;
  --active-shadow-angry: #e94f1d;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
}

.feedbackkk li  {
  position: relative;
  border-radius: 50%;
  background: var(--sb, var(--normal));
  box-shadow: inset 3px -3px 4px var(--sh, var(--normal-shadow));
  -webkit-transition: background .4s, box-shadow .4s, -webkit-transform .3s;
  transition: background .4s, box-shadow .4s, -webkit-transform .3s;
  transition: background .4s, box-shadow .4s, transform .3s;
  transition: background .4s, box-shadow .4s, transform .3s, -webkit-transform .3s;
  -webkit-tap-highlight-color: transparent;
}

.feedbackkk li:not(:last-child) {
  margin-right: 20px;
}

.feedbackkk li div {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: perspective(240px) translateZ(4px);
  transform: perspective(240px) translateZ(4px);
}

.feedbackkk li div svg,
.feedbackkk li div:before,
.feedbackkk li div:after {
  display: block;
  position: absolute;
  left: var(--l, 9px);
  top: var(--t, 13px);
  width: var(--w, 8px);
  height: var(--h, 2px);
  -webkit-transform: rotate(var(--r, 0deg)) scale(var(--sc, 1)) translateZ(0);
  transform: rotate(var(--r, 0deg)) scale(var(--sc, 1)) translateZ(0);
}

.feedbackkk li div svg {
  fill: none;
  stroke: var(--s);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  -webkit-transition: stroke .4s;
  transition: stroke .4s;
}

.feedbackkk li div svg.eye {
  --s: var(--e, var(--normal-eye));
  --t: 17px;
  --w: 7px;
  --h: 4px;
}

.feedbackkk li div svg.eye.right {
  --l: 23px;
}

.feedbackkk li div svg.mouth {
  --s: var(--m, var(--normal-mouth));
  --l: 11px;
  --t: 23px;
  --w: 18px;
  --h: 7px;
}

.feedbackkk li div:before,
.feedbackkk li div:after {
  content: '';
  z-index: var(--zi, 1);
  border-radius: var(--br, 1px);
  background: var(--b, var(--e, var(--normal-eye)));
  -webkit-transition: background .4s;
  transition: background .4s;
}

.feedbackkk li.angry {
  --step-1-rx: -24deg;
  --step-1-ry: 20deg;
  --step-2-rx: -24deg;
  --step-2-ry: -20deg;
}

.feedbackkk li.angry div:before {
  --r: 20deg;
}

.feedbackkk li.angry div:after {
  --l: 23px;
  --r: -20deg;
}

.feedbackkk li.angry div svg.eye {
  stroke-dasharray: 4.55;
  stroke-dashoffset: 8.15;
}

.feedbackkk li.angry.active {
  -webkit-animation: angry 1s linear;
  animation: angry 1s linear;
}

.feedbackkk li.angry.active div:before {
  --middle-y: -2px;
  --middle-r: 22deg;
  -webkit-animation: toggle .8s linear forwards;
  animation: toggle .8s linear forwards;
}

.feedbackkk li.angry.active div:after {
  --middle-y: 1px;
  --middle-r: -18deg;
  -webkit-animation: toggle .8s linear forwards;
  animation: toggle .8s linear forwards;
}

.feedbackkk li.sad {
  --step-1-rx: 20deg;
  --step-1-ry: -12deg;
  --step-2-rx: -18deg;
  --step-2-ry: 14deg;
}

.feedbackkk li.sad div:before,
.feedbackkk li.sad div:after {
  --b: var(--active-tear);
  --sc: 0;
  --w: 5px;
  --h: 5px;
  --t: 15px;
  --br: 50%;
}

.feedbackkk li.sad div:after {
  --l: 25px;
}

.feedbackkk li.sad div svg.eye {
  --t: 16px;
}

.feedbackkk li.sad div svg.mouth {
  --t: 24px;
  stroke-dasharray: 9.5;
  stroke-dashoffset: 33.25;
}

.feedbackkk li.sad.active div:before,
.feedbackkk li.sad.active div:after {
  -webkit-animation: tear .6s linear forwards;
  animation: tear .6s linear forwards;
}

.feedbackkk li.ok {
  --step-1-rx: 4deg;
  --step-1-ry: -22deg;
  --step-1-rz: 6deg;
  --step-2-rx: 4deg;
  --step-2-ry: 22deg;
  --step-2-rz: -6deg;
}

.feedbackkk li.ok div:before {
  --l: 12px;
  --t: 17px;
  --h: 4px;
  --w: 4px;
  --br: 50%;
  box-shadow: 12px 0 0 var(--e, var(--normal-eye));
}

.feedbackkk li.ok div:after {
  --l: 13px;
  --t: 26px;
  --w: 14px;
  --h: 2px;
  --br: 1px;
  --b: var(--m, var(--normal-mouth));
}

.feedbackkk li.ok.active div:before {
  --middle-s-y: .35;
  -webkit-animation: toggle .2s linear forwards;
  animation: toggle .2s linear forwards;
}

.feedbackkk li.ok.active div:after {
  --middle-s-x: .5;
  -webkit-animation: toggle .7s linear forwards;
  animation: toggle .7s linear forwards;
}

.feedbackkk li.good {
  --step-1-rx: -14deg;
  --step-1-rz: 10deg;
  --step-2-rx: 10deg;
  --step-2-rz: -8deg;
}

.feedbackkk li.good div:before {
  --b: var(--m, var(--normal-mouth));
  --w: 5px;
  --h: 5px;
  --br: 50%;
  --t: 22px;
  --zi: 0;
  opacity: .5;
  box-shadow: 16px 0 0 var(--b);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.feedbackkk li.good div:after {
  --sc: 0;
}

.feedbackkk li.good div svg.eye {
  --t: 15px;
  --sc: -1;
  stroke-dasharray: 4.55;
  stroke-dashoffset: 8.15;
}

.feedbackkk li.good div svg.mouth {
  --t: 22px;
  --sc: -1;
  stroke-dasharray: 13.3;
  stroke-dashoffset: 23.75;
}

.feedbackkk li.good.active div svg.mouth {
  --middle-y: 1px;
  --middle-s: -1;
  -webkit-animation: toggle .8s linear forwards;
  animation: toggle .8s linear forwards;
}

.feedbackkk li.happy div {
  --step-1-rx: 18deg;
  --step-1-ry: 24deg;
  --step-2-rx: 18deg;
  --step-2-ry: -24deg;
}

.feedbackkk li.happy div:before {
  --sc: 0;
}

.feedbackkk li.happy div:after {
  --b: var(--m, var(--normal-mouth));
  --l: 11px;
  --t: 23px;
  --w: 18px;
  --h: 8px;
  --br: 0 0 8px 8px;
}

.feedbackkk li.happy div svg.eye {
  --t: 14px;
  --sc: -1;
}

.feedbackkk li.happy.active div:after {
  --middle-s-x: .95;
  --middle-s-y: .75;
  -webkit-animation: toggle .8s linear forwards;
  animation: toggle .8s linear forwards;
}

.feedbackkk li:not(.active) {
  cursor: pointer;
}

.feedbackkk li:not(.active):active {
  -webkit-transform: scale(0.925);
  transform: scale(0.925);
}

.feedbackkk li.active {
  --sb: var(--active);
  --sh: var(--active-shadow);
  --m: var(--active-mouth);
  --e: var(--active-eye);
}

.feedbackkk li.active div {
  -webkit-animation: shake .8s linear forwards;
  animation: shake .8s linear forwards;
}



.feedbackkkk {
  --normal: #ECEAF3;
  --normal-shadow: #D9D8E3;
  --normal-mouth: #9795A4;
  --normal-eye: #595861;
  --active: #F8DA69;
  --active-shadow: #F4B555;
  --active-mouth: #F05136;
  --active-eye: #313036;
  --active-tear: #76b5e7;
  --active-shadow-angry: #e94f1d;
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: flex;
}

.feedbackkkk li  {
  position: relative;
  border-radius: 50%;
  background: var(--sb, var(--normal));
  box-shadow: inset 3px -3px 4px var(--sh, var(--normal-shadow));
  -webkit-transition: background .4s, box-shadow .4s, -webkit-transform .3s;
  transition: background .4s, box-shadow .4s, -webkit-transform .3s;
  transition: background .4s, box-shadow .4s, transform .3s;
  transition: background .4s, box-shadow .4s, transform .3s, -webkit-transform .3s;
  -webkit-tap-highlight-color: transparent;
}

.feedbackkkk li:not(:last-child) {
  margin-right: 20px;
}

.feedbackkkk li div {
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: perspective(240px) translateZ(4px);
  transform: perspective(240px) translateZ(4px);
}

.feedbackkkk li div svg,
.feedbackkkk li div:before,
.feedbackkkk li div:after {
  display: block;
  position: absolute;
  left: var(--l, 9px);
  top: var(--t, 13px);
  width: var(--w, 8px);
  height: var(--h, 2px);
  -webkit-transform: rotate(var(--r, 0deg)) scale(var(--sc, 1)) translateZ(0);
  transform: rotate(var(--r, 0deg)) scale(var(--sc, 1)) translateZ(0);
}

.feedbackkkk li div svg {
  fill: none;
  stroke: var(--s);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  -webkit-transition: stroke .4s;
  transition: stroke .4s;
}

.feedbackkkk li div svg.eye {
  --s: var(--e, var(--normal-eye));
  --t: 17px;
  --w: 7px;
  --h: 4px;
}

.feedbackkkk li div svg.eye.right {
  --l: 23px;
}

.feedbackkkk li div svg.mouth {
  --s: var(--m, var(--normal-mouth));
  --l: 11px;
  --t: 23px;
  --w: 18px;
  --h: 7px;
}

.feedbackkkk li div:before,
.feedbackkkk li div:after {
  content: '';
  z-index: var(--zi, 1);
  border-radius: var(--br, 1px);
  background: var(--b, var(--e, var(--normal-eye)));
  -webkit-transition: background .4s;
  transition: background .4s;
}

.feedbackkkk li.angry {
  --step-1-rx: -24deg;
  --step-1-ry: 20deg;
  --step-2-rx: -24deg;
  --step-2-ry: -20deg;
}

.feedbackkkk li.angry div:before {
  --r: 20deg;
}

.feedbackkkk li.angry div:after {
  --l: 23px;
  --r: -20deg;
}

.feedbackkkk li.angry div svg.eye {
  stroke-dasharray: 4.55;
  stroke-dashoffset: 8.15;
}

.feedbackkkk li.angry.active {
  -webkit-animation: angry 1s linear;
  animation: angry 1s linear;
}

.feedbackkkk li.angry.active div:before {
  --middle-y: -2px;
  --middle-r: 22deg;
  -webkit-animation: toggle .8s linear forwards;
  animation: toggle .8s linear forwards;
}

.feedbackkkk li.angry.active div:after {
  --middle-y: 1px;
  --middle-r: -18deg;
  -webkit-animation: toggle .8s linear forwards;
  animation: toggle .8s linear forwards;
}

.feedbackkkk li.sad {
  --step-1-rx: 20deg;
  --step-1-ry: -12deg;
  --step-2-rx: -18deg;
  --step-2-ry: 14deg;
}

.feedbackkkk li.sad div:before,
.feedbackkkk li.sad div:after {
  --b: var(--active-tear);
  --sc: 0;
  --w: 5px;
  --h: 5px;
  --t: 15px;
  --br: 50%;
}

.feedbackkkk li.sad div:after {
  --l: 25px;
}

.feedbackkkk li.sad div svg.eye {
  --t: 16px;
}

.feedbackkkk li.sad div svg.mouth {
  --t: 24px;
  stroke-dasharray: 9.5;
  stroke-dashoffset: 33.25;
}

.feedbackkkk li.sad.active div:before,
.feedbackkkk li.sad.active div:after {
  -webkit-animation: tear .6s linear forwards;
  animation: tear .6s linear forwards;
}

.feedbackkkk li.ok {
  --step-1-rx: 4deg;
  --step-1-ry: -22deg;
  --step-1-rz: 6deg;
  --step-2-rx: 4deg;
  --step-2-ry: 22deg;
  --step-2-rz: -6deg;
}

.feedbackkkk li.ok div:before {
  --l: 12px;
  --t: 17px;
  --h: 4px;
  --w: 4px;
  --br: 50%;
  box-shadow: 12px 0 0 var(--e, var(--normal-eye));
}

.feedbackkkk li.ok div:after {
  --l: 13px;
  --t: 26px;
  --w: 14px;
  --h: 2px;
  --br: 1px;
  --b: var(--m, var(--normal-mouth));
}

.feedbackkkk li.ok.active div:before {
  --middle-s-y: .35;
  -webkit-animation: toggle .2s linear forwards;
  animation: toggle .2s linear forwards;
}

.feedbackkkk li.ok.active div:after {
  --middle-s-x: .5;
  -webkit-animation: toggle .7s linear forwards;
  animation: toggle .7s linear forwards;
}

.feedbackkkk li.good {
  --step-1-rx: -14deg;
  --step-1-rz: 10deg;
  --step-2-rx: 10deg;
  --step-2-rz: -8deg;
}

.feedbackkkk li.good div:before {
  --b: var(--m, var(--normal-mouth));
  --w: 5px;
  --h: 5px;
  --br: 50%;
  --t: 22px;
  --zi: 0;
  opacity: .5;
  box-shadow: 16px 0 0 var(--b);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

.feedbackkkk li.good div:after {
  --sc: 0;
}

.feedbackkkk li.good div svg.eye {
  --t: 15px;
  --sc: -1;
  stroke-dasharray: 4.55;
  stroke-dashoffset: 8.15;
}

.feedbackkkk li.good div svg.mouth {
  --t: 22px;
  --sc: -1;
  stroke-dasharray: 13.3;
  stroke-dashoffset: 23.75;
}

.feedbackkkk li.good.active div svg.mouth {
  --middle-y: 1px;
  --middle-s: -1;
  -webkit-animation: toggle .8s linear forwards;
  animation: toggle .8s linear forwards;
}

.feedbackkkk li.happy div {
  --step-1-rx: 18deg;
  --step-1-ry: 24deg;
  --step-2-rx: 18deg;
  --step-2-ry: -24deg;
}

.feedbackkkk li.happy div:before {
  --sc: 0;
}

.feedbackkkk li.happy div:after {
  --b: var(--m, var(--normal-mouth));
  --l: 11px;
  --t: 23px;
  --w: 18px;
  --h: 8px;
  --br: 0 0 8px 8px;
}

.feedbackkkk li.happy div svg.eye {
  --t: 14px;
  --sc: -1;
}

.feedbackkkk li.happy.active div:after {
  --middle-s-x: .95;
  --middle-s-y: .75;
  -webkit-animation: toggle .8s linear forwards;
  animation: toggle .8s linear forwards;
}

.feedbackkkk li:not(.active) {
  cursor: pointer;
}

.feedbackkkk li:not(.active):active {
  -webkit-transform: scale(0.925);
  transform: scale(0.925);
}

.feedbackkkk li.active {
  --sb: var(--active);
  --sh: var(--active-shadow);
  --m: var(--active-mouth);
  --e: var(--active-eye);
}

.feedbackkkk li.active div {
  -webkit-animation: shake .8s linear forwards;
  animation: shake .8s linear forwards;
}

